exportPattern("^[[:alpha:]]+")
export(print.IBIS)
S3method(print,IBIS)
export(print.UNCOVER)
S3method(print,UNCOVER)
export(predict.IBIS)
S3method(predict,IBIS)
export(predict.UNCOVER)
S3method(predict,UNCOVER)
